body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.gltf-element {
  /* set a higher z-index than the scene container */
  z-index: 3;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: fixed;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: skyblue;

  /* set a lower z-index than the h1 and gltf elements */
  z-index: 1;
}

#main-page {
  /* tell our scene container to take up the full page */
  position: fixed;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: skyblue;

  /* set a lower z-index than the h1 and gltf elements */
  z-index: 1;
}

#hud {
		display: block;
		position: absolute;
		left: 100px;
		top: 100px;
		background: none;
		border: none;
		border-radius: 1em;
		text-align: center;
		font-family: sans-serif;
		font-size: 150%;
		padding: 20px;
}

#hud:hover {
		cursor: pointer;
		border: solid 1px gray;
		background: rgba( 255, 255, 255, 0.5 );
}

#hud2 {
  display: block;
  position: absolute;
  left: 100px;
  top: calc(100px + 20px + 20px + 1.5em); /* top position of hud + padding of hud + font-size of hud */
  background: none;
  border: none;
  border-radius: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  padding: 20px;
}

#hud2:hover {
  cursor: pointer;
  border: solid 1px gray;
  background: rgba(255, 255, 255, 0.5);
}

#hud3 {
  display: block;
  position: absolute;
  left: 100px;
  top: calc(100px + 20px + 20px + 1.5em + 30px + 20px + 20px); /* top position of hud2 + padding of hud2 */
  border: none;
  border-radius: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  padding: 20px;
}

#hud3:hover {
  cursor: pointer;
  border: solid 1px gray;
  background: rgba(255, 255, 255, 0.5);
}

#hud4 {
  display: block;
  position: absolute;
  left: 100px;
  top: calc(100px + 20px + 20px + 1.5em + 30px + 20px + 20px + 30px + 20px + 20px); /* top position of hud3 + padding of hud3 */
  background: none;
  border: none;
  border-radius: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  padding: 20px;
}

#hud4:hover {
  cursor: pointer;
  border: solid 1px gray;
  background: rgba(255, 255, 255, 0.5);
}

 /* nav styles */
 .hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
width: 100%;
top: 5rem;
left: 48px;
background-color: #ff9776;
display: none;
margin: 0;
}

.nav-links a {
display: block;
text-align: center;
padding: 10px 0;
text-decoration: none;
font-size: 1.2rem;
font-weight: bold;
text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
background-color: #ff9776;
}

.expanded {
display: unset;
}

@media screen and (min-width: 636px) {
.nav-links {
  margin-left: 5em;
  display: block;
  position: static;
  width: auto;
  background: none;
}

.nav-links a {
  display: inline-block;
  padding: 15px 20px;
}

.hamburger {
  display: none;
}

}