body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 2;
}

.gltf-element {
  /* set a higher z-index than the scene container */
  z-index: 3;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: fixed;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: skyblue;

  /* set a lower z-index than the h1 and gltf elements */
  z-index: 1;
}

#hud {
		display: block;
		position: absolute;
		left: 100px;
		top: 100px;
		background: none;
		border: none;
		border-radius: 1em;
		text-align: center;
		font-family: sans-serif;
		font-size: 150%;
		padding: 20px;
}

#hud:hover {
		cursor: pointer;
		border: solid 1px gray;
		background: rgba( 255, 255, 255, 0.5 );
}

#hud2 {
  display: block;
  position: absolute;
  left: 100px;
  top: calc(100px + 20px + 20px + 1.5em); /* top position of hud + padding of hud + font-size of hud */
  background: none;
  border: none;
  border-radius: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  padding: 20px;
}

#hud2:hover {
  cursor: pointer;
  border: solid 1px gray;
  background: rgba(255, 255, 255, 0.5);
}

#hud3 {
  display: block;
  position: absolute;
  left: 100px;
  top: calc(100px + 20px + 20px + 1.5em + 30px + 20px + 20px); /* top position of hud2 + padding of hud2 */
  border: none;
  border-radius: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  padding: 20px;
}

#hud3:hover {
  cursor: pointer;
  border: solid 1px gray;
  background: rgba(255, 255, 255, 0.5);
}

#hud4 {
  display: block;
  position: absolute;
  left: 100px;
  top: calc(100px + 20px + 20px + 1.5em + 30px + 20px + 20px + 30px + 20px + 20px); /* top position of hud3 + padding of hud3 */
  background: none;
  border: none;
  border-radius: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  padding: 20px;
}

#hud4:hover {
  cursor: pointer;
  border: solid 1px gray;
  background: rgba(255, 255, 255, 0.5);
}
