---
import Home from "./Home.astro";
---

<!doctype html>
<html>
  <head>
    <title>Discoverthreejs.com - The three.js Animation System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <script>
      import "../World/components/uploadFile.js";
      import "./menu.js";

      window.onload = function () {
        const url = "/buildwith.json";
        const uploadButton = document.getElementById("uploadButton");
        const fileUpload = document.getElementById("fileUpload");

        uploadButton.addEventListener("click", function () {
          const file = fileUpload.files[0];
          const formData = new FormData();
          formData.append("file", file);

          fetch(url, {
            method: "POST",
            body: formData,
          })
            .then((response) => {
              console.log("File uploaded successfully");
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      };
    </script>
  </head>
  <body id="main-page">
    <div id="scene-container">
      <h1>Framework 3D - Oculus - UBATIC</h1>
      <Home />
      <!-- Crea un input de tipo file y un botón para subir el archivo -->
      <input type="file" id="fileUpload" accept=".glb" />
      <button id="uploadButton">Subir archivo</button>
    </div>
  </body>
</html>
