---
import Header from './Header.astro';
---

<!DOCTYPE html>
<html>
<head>
  <title >Discoverthreejs.com - The three.js Animation System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
 <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body id="main-page">
  <h1>Framework 3D - Oculus - UBATIC</h1>
  <Header/>
  <script>
    import "./menu.js";
  </script>
</body>

</html>