---
import Home from "./Home.astro";
---

<script>
  import Main from "./main.js";
</script>

<html>
  <head>
    <title>Discoverthreejs.com - The three.js Animation System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link href="main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="scene-container">
      <h1>Framework 3D - Oculus - UBATIC</h1>
      <Home />
      <script>
        import "./menu.js";
      </script>
      <div id="hud">
        <br />
        <small><small> PLAY</small></small>
      </div>
      <p></p>
      <div id="hud2">
        <br />
        <small><small> PAUSE</small></small>
      </div>
      <p></p>
      <div id="hud3">
        <br />
        <small><small> REVERSE</small></small>
      </div>
      <p></p>
      <div id="loadFile">
        <br />
        <small><small>CARGAR</small></small>
      </div>
      <p></p>
      <!--<div id="hud4">
      <b>I am a button</b>
      <br>
      <small><small>
          ERASE
      </small></small>
     </div>-->
      <!-- Our <canvas> will be inserted here -->
    </div>
    <script>
      // Función para manejar el clic en el botón de cargar archivo
      document
        .getElementById("loadFile")
        .addEventListener("click", function () {
          fetch("/buildwith.json") // Asegúrate de reemplazar esto con la ruta correcta
            .then((response) => response.blob())
            .then((blob) => {
              // Crear un enlace para descargar el archivo
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement("a");
              a.style.display = "none";
              a.href = url;
              a.download = "archivo.glb"; // Nombre del archivo a descargar
              document.body.appendChild(a);
              a.click();
              window.URL.revokeObjectURL(url);
              console.log("cargado");
            })
            .catch((error) =>
              console.error("Error al cargar el archivo:", error),
            );
        });
    </script>
  </body>
</html>
