---
import Home from "./Home.astro";
---
<script>
	import  Main  from './main.js';
</script>	

<!DOCTYPE html>
<html>
<head>
  <title >Discoverthreejs.com - The three.js Animation System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
 <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="scene-container">
    <h1>Framework 3D - Oculus - UBATIC</h1>
    <Home />
    <script>
      import "./menu.js";
    </script>
    <!--<div id="hud">
      <b>I am a button</b>
      <br>
      <small><small>
          PLAY
      </small></small>
     </div>
     <p></p>
     <div id="hud2">
      <b>I am a button</b>
      <br>
      <small><small>
          PAUSE
      </small></small>
     </div>
     <p></p>
     <div id="hud3">
      <b>I am a button</b>
      <br>
      <small><small>
          REVERSE
      </small></small>
     </div>
     <p></p>
     <div id="hud4">
      <b>I am a button</b>
      <br>
      <small><small>
          ERASE
      </small></small>
     </div>-->
    <!-- Our <canvas> will be inserted here -->
  </div>
</body>

</html>